body {
    background-color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    color: #cccccc;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

h1 {
    color: #50f148;
    text-align: center;
}

h2 {
    color: #50f148;
}

a {
    color: #a1ac25;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

#toggle-music {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 3px 8px;
    background: #d3d3d3;
    border: 2px outset #a0a0a0;
    color: #000;
    cursor: pointer;
    transition: background 0.2s;
}

#toggle-music:hover {
    background: #c0c0c0;
}

#toggle-music:active {
    border: 2px inset #a0a0a0;
}